<template>
  <table class="table table-sm table-bordered table-striped table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col" repeat.for="column of columns">${column.name}</th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="pageItem of pageItems" click.delegate="select($index)">
      <td repeat.for="column of columns">${pageItem[column.fieldName]}</td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Table pages">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item ${currentPageIndex === 0 ? 'disabled' : ''}" click.delegate="prevPage()">
        <a class="page-link" tabindex="-1" aria-disabled="true">&laquo;</a>
      </li>
      <li repeat.for="page of pages" class="page-item ${(currentPageIndex+1).toString() === page ? 'active' : ''}" click.delegate="selectPage(page)">
        <a class="page-link">${page}</a>
      </li>
      <li class="page-item ${currentPageIndex === numPages-1 ? 'disabled' : ''}" click.delegate="nextPage()">
        <a class="page-link">&raquo;</a>
      </li>
    </ul>
  </nav>

</template>
