<template>
  <require from="./styles.css"></require>
  <require from="./solace-connection-status"></require>
  <require from="./solace-connection-form"></require>
  <require from="./robot-tracker"></require>
  <require from="./keyboard"></require>
  <require from="./video-feed"></require>

  <nav class="navbar navbar-light bg-light border-bottom fixed-top" role="navigation">
    <a class="navbar-brand" href="#">
      <span>LEGO x SOLACE</span>
    </a>
    <solace-connection-status></solace-connection-status>
  </nav>

  <div class="container-md">
    <solace-connection-form if.bind="!connected"></solace-connection-form>
  </div>

  <div class="container-md">
    <keyboard if.bind="connected"></keyboard>
  </div>

  <div class="container-md">
    <video-feed if.bind="connected"></video-feed>
  </div>

  <div class="container-md">
    <robot-tracker if.bind="connected"></robot-tracker>
  </div>
</template>
