<template>
  <div class="keyboard">
    <div class="keyboard__row keyboard__row--h3">
      <div data-key="37" class="key--arrow" click.delegate="onLeft()">
        <span>&#9664;</span>
      </div>
      <div>
        <div class="key--arrow" data-key="38" click.delegate="onUp()" style="text-align: center;">
          <span>&#9650;</span>
        </div>
        <div class="key--arrow" data-key="38" click.delegate="onDown()">
          <span>&#9660;</span>
        </div>
      </div>
      <div data-key="39" class="key--arrow" click.delegate="onRight()">
        <span>&#9654;</span>
      </div>
    </div>
  </div>
</template>
