<template>
  <require from="./components/paginated-table"></require>

  <label>Selected robot: ${selected ? selectedRobot.robotId : "None"}</label>

  <paginated-table items.bind="robots" columns.bind="tableColumns" update-selection.call="updateSelection(itemIndex, item)">
  </paginated-table>
</template>
