<template>
  <div class="form-group config-group px-1">
      <label>Solace WEB URI:</label>
      <div class="input-group">
        <input type="text" class="form-control" value.bind="solaceUri">
      </div>
  </div>
  <div class="form-group config-group px-1">
      <label>Solace VPN Name:</label>
      <div class="input-group">
        <input type="text" class="form-control" value.bind="vpnName">
      </div>
  </div>
  <div class="form-group config-group px-1">
      <label>Client-username:</label>
      <div class="input-group">
        <input type="text" class="form-control" value.bind="username">
      </div>
  </div>
  <div class="form-group config-group px-1">
      <label>Client-password:</label>
      <div class="input-group">
        <input type="text" class="form-control" value.bind="password">
      </div>
  </div>

  <button class="btn btn-dark my-2 my-sm-0" type="button" click.trigger="onConnect()">Connect</button>
</template>
